In [36]:
# import necessary libraries - Monir
import pandas as pd
import os
import glob
import numpy as np
from csv import reader

In [37]:
# assign dataset names - Monir
PUBLIC_TRADINGIS_list_of_files = []

#read all dataset names with starting PUBLIC_DISPATCHSCADA - Monir
PUBLIC_TRADINGIS_list_of_files = glob.glob('PUBLIC_TRADINGIS*.csv')

In [38]:
len(PUBLIC_TRADINGIS_list_of_files)

1674

In [39]:
# create empty list
dataframes_list = []

list_of_names = PUBLIC_TRADINGIS_list_of_files

In [40]:
# append datasets into teh list
for i in range(len(list_of_names)):
    # read csv file as a list of lists
    with open(list_of_names[i], 'r') as read_obj:
        # pass the file object to reader() to get the reader object
        csv_reader = reader(read_obj)
        # Pass reader object to list() to get a list of lists
        list_of_rows = list(csv_reader)
        #print(list_of_rows)
        #temp_df = pd.DataFrame(list_of_rows)
        temp_df = pd.DataFrame(list_of_rows[9:14])
    dataframes_list.append(temp_df)
    list_of_column = list_of_rows[8]
    
    
    #temp_df = pd.read_csv(list_of_names[i], skiprows = 1, skipfooter = 1)
    #dataframes_list[i]=temp_df
    #dataframes_list.append(temp_df)

In [42]:
len(dataframes_list)

1674

In [41]:
list_of_column

['I',
 'TRADING',
 'PRICE',
 '2',
 'SETTLEMENTDATE',
 'RUNNO',
 'REGIONID',
 'PERIODID',
 'RRP',
 'EEP',
 'INVALIDFLAG',
 'LASTCHANGED',
 'ROP',
 'RAISE6SECRRP',
 'RAISE6SECROP',
 'RAISE60SECRRP',
 'RAISE60SECROP',
 'RAISE5MINRRP',
 'RAISE5MINROP',
 'RAISEREGRRP',
 'RAISEREGROP',
 'LOWER6SECRRP',
 'LOWER6SECROP',
 'LOWER60SECRRP',
 'LOWER60SECROP',
 'LOWER5MINRRP',
 'LOWER5MINROP',
 'LOWERREGRRP',
 'LOWERREGROP',
 'PRICE_STATUS']

In [43]:
dataframes_list[0].shape

(5, 30)

In [44]:
dataframes_list[1673].tail()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,D,TRADING,PRICE,2,2021/05/23 00:00:00,1,SA1,48,56.57,0,...,9.44,0.17,0.17,0.52,0.52,0.18,0.18,5.61,5.61,FIRM
1,D,TRADING,PRICE,2,2021/05/23 00:00:00,1,NSW1,48,45.12,0,...,9.44,0.17,0.17,0.52,0.52,0.18,0.18,5.61,5.61,FIRM
2,D,TRADING,PRICE,2,2021/05/23 00:00:00,1,QLD1,48,40.76,0,...,9.44,0.17,0.17,0.52,0.52,0.18,0.18,5.61,5.61,FIRM
3,D,TRADING,PRICE,2,2021/05/23 00:00:00,1,TAS1,48,30.01,0,...,9.44,0.17,0.17,0.52,0.52,0.18,0.18,5.61,5.61,FIRM
4,D,TRADING,PRICE,2,2021/05/23 00:00:00,1,VIC1,48,49.26,0,...,9.44,0.17,0.17,0.52,0.52,0.18,0.18,5.61,5.61,FIRM

In [45]:
# multiple DataFrames are be merged (Concatenate pandas objects) - Monir
PUBLIC_TRADINGIS_df = pd.concat(dataframes_list)

In [46]:
PUBLIC_TRADINGIS_df.shape

(8370, 30)

In [47]:
PUBLIC_TRADINGIS_df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,D,TRADING,PRICE,2,2021/04/18 00:30:00,1,SA1,1,121.01,0,...,25.35,0.03,0.03,0.21,0.21,0.18,0.18,6.12,6.12,FIRM
1,D,TRADING,PRICE,2,2021/04/18 00:30:00,1,NSW1,1,106.93,0,...,25.35,0.03,0.03,0.21,0.21,0.18,0.18,6.12,6.12,FIRM
2,D,TRADING,PRICE,2,2021/04/18 00:30:00,1,QLD1,1,95.66,0,...,25.35,0.03,0.03,0.21,0.21,0.18,0.18,6.12,6.12,FIRM
3,D,TRADING,PRICE,2,2021/04/18 00:30:00,1,TAS1,1,1.33,0,...,0.97,0.03,0.03,0.21,0.21,0.18,0.18,3.8,3.8,FIRM
4,D,TRADING,PRICE,2,2021/04/18 00:30:00,1,VIC1,1,111.83,0,...,25.35,0.03,0.03,0.21,0.21,0.18,0.18,6.12,6.12,FIRM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,D,TRADING,PRICE,2,2021/05/23 00:00:00,1,SA1,48,56.57,0,...,9.44,0.17,0.17,0.52,0.52,0.18,0.18,5.61,5.61,FIRM
1,D,TRADING,PRICE,2,2021/05/23 00:00:00,1,NSW1,48,45.12,0,...,9.44,0.17,0.17,0.52,0.52,0.18,0.18,5.61,5.61,FIRM
2,D,TRADING,PRICE,2,2021/05/23 00:00:00,1,QLD1,48,40.76,0,...,9.44,0.17,0.17,0.52,0.52,0.18,0.18,5.61,5.61,FIRM
3,D,TRADING,PRICE,2,2021/05/23 00:00:00,1,TAS1,48,30.01,0,...,9.44,0.17,0.17,0.52,0.52,0.18,0.18,5.61,5.61,FIRM
4,D,TRADING,PRICE,2,2021/05/23 00:00:00,1,VIC1,48,49.26,0,...,9.44,0.17,0.17,0.52,0.52,0.18,0.18,5.61,5.61,FIRM

In [48]:
PUBLIC_TRADINGIS_df.columns = list_of_column

In [49]:
PUBLIC_TRADINGIS_df.head()

,I,TRADING,PRICE,2,SETTLEMENTDATE,RUNNO,REGIONID,PERIODID,RRP,EEP,...,RAISEREGROP,LOWER6SECRRP,LOWER6SECROP,LOWER60SECRRP,LOWER60SECROP,LOWER5MINRRP,LOWER5MINROP,LOWERREGRRP,LOWERREGROP,PRICE_STATUS
0,D,TRADING,PRICE,2,2021/04/18 00:30:00,1,SA1,1,121.01,0,...,25.35,0.03,0.03,0.21,0.21,0.18,0.18,6.12,6.12,FIRM
1,D,TRADING,PRICE,2,2021/04/18 00:30:00,1,NSW1,1,106.93,0,...,25.35,0.03,0.03,0.21,0.21,0.18,0.18,6.12,6.12,FIRM
2,D,TRADING,PRICE,2,2021/04/18 00:30:00,1,QLD1,1,95.66,0,...,25.35,0.03,0.03,0.21,0.21,0.18,0.18,6.12,6.12,FIRM
3,D,TRADING,PRICE,2,2021/04/18 00:30:00,1,TAS1,1,1.33,0,...,0.97,0.03,0.03,0.21,0.21,0.18,0.18,3.8,3.8,FIRM
4,D,TRADING,PRICE,2,2021/04/18 00:30:00,1,VIC1,1,111.83,0,...,25.35,0.03,0.03,0.21,0.21,0.18,0.18,6.12,6.12,FIRM

In [21]:
  with open('PUBLIC_TRADINGIS_202104180030_0000000340056853.csv', 'r') as read_obj:
        # pass the file object to reader() to get the reader object
        csv_reader = reader(read_obj)
        # Pass reader object to list() to get a list of lists
        list_of_rows = list(csv_reader)
        #print(list_of_rows)
        #temp_df = pd.DataFrame(list_of_rows)
        test_df = pd.DataFrame(list_of_rows[8:14])
        #temp_df = pd.DataFrame(list_of_rows[8:14])

In [22]:
test_df.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,I,TRADING,PRICE,2,SETTLEMENTDATE,RUNNO,REGIONID,PERIODID,RRP,EEP,...,RAISEREGROP,LOWER6SECRRP,LOWER6SECROP,LOWER60SECRRP,LOWER60SECROP,LOWER5MINRRP,LOWER5MINROP,LOWERREGRRP,LOWERREGROP,PRICE_STATUS
1,D,TRADING,PRICE,2,2021/04/18 00:30:00,1,SA1,1,121.01,0,...,25.35,0.03,0.03,0.21,0.21,0.18,0.18,6.12,6.12,FIRM
2,D,TRADING,PRICE,2,2021/04/18 00:30:00,1,NSW1,1,106.93,0,...,25.35,0.03,0.03,0.21,0.21,0.18,0.18,6.12,6.12,FIRM
3,D,TRADING,PRICE,2,2021/04/18 00:30:00,1,QLD1,1,95.66,0,...,25.35,0.03,0.03,0.21,0.21,0.18,0.18,6.12,6.12,FIRM
4,D,TRADING,PRICE,2,2021/04/18 00:30:00,1,TAS1,1,1.33,0,...,0.97,0.03,0.03,0.21,0.21,0.18,0.18,3.8,3.8,FIRM

In [30]:
PUBLIC_TRADINGIS_df.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
23    object
24    object
25    object
26    object
27    object
28    object
29    object
dtype: object

In [31]:
PUBLIC_TRADINGIS_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10044 entries, 0 to 5
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10044 non-null  object
 1   1       10044 non-null  object
 2   2       10044 non-null  object
 3   3       10044 non-null  object
 4   4       10044 non-null  object
 5   5       10044 non-null  object
 6   6       10044 non-null  object
 7   7       10044 non-null  object
 8   8       10044 non-null  object
 9   9       10044 non-null  object
 10  10      10044 non-null  object
 11  11      10044 non-null  object
 12  12      10044 non-null  object
 13  13      10044 non-null  object
 14  14      10044 non-null  object
 15  15      10044 non-null  object
 16  16      10044 non-null  object
 17  17      10044 non-null  object
 18  18      10044 non-null  object
 19  19      10044 non-null  object
 20  20      10044 non-null  object
 21  21      10044 non-null  object
 22  22      10044 non-null  object
 23  23      10044 non-null  object
 24  24      10044 non-null  object
 25  25      10044 non-null  object
 26  26      10044 non-null  object
 27  27      10044 non-null  object
 28  28      10044 non-null  object
 29  29      10044 non-null  object
dtypes: object(30)
memory usage: 2.4+ MB

In [50]:
PUBLIC_TRADINGIS_df

,I,TRADING,PRICE,2,SETTLEMENTDATE,RUNNO,REGIONID,PERIODID,RRP,EEP,...,RAISEREGROP,LOWER6SECRRP,LOWER6SECROP,LOWER60SECRRP,LOWER60SECROP,LOWER5MINRRP,LOWER5MINROP,LOWERREGRRP,LOWERREGROP,PRICE_STATUS
0,D,TRADING,PRICE,2,2021/04/18 00:30:00,1,SA1,1,121.01,0,...,25.35,0.03,0.03,0.21,0.21,0.18,0.18,6.12,6.12,FIRM
1,D,TRADING,PRICE,2,2021/04/18 00:30:00,1,NSW1,1,106.93,0,...,25.35,0.03,0.03,0.21,0.21,0.18,0.18,6.12,6.12,FIRM
2,D,TRADING,PRICE,2,2021/04/18 00:30:00,1,QLD1,1,95.66,0,...,25.35,0.03,0.03,0.21,0.21,0.18,0.18,6.12,6.12,FIRM
3,D,TRADING,PRICE,2,2021/04/18 00:30:00,1,TAS1,1,1.33,0,...,0.97,0.03,0.03,0.21,0.21,0.18,0.18,3.8,3.8,FIRM
4,D,TRADING,PRICE,2,2021/04/18 00:30:00,1,VIC1,1,111.83,0,...,25.35,0.03,0.03,0.21,0.21,0.18,0.18,6.12,6.12,FIRM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,D,TRADING,PRICE,2,2021/05/23 00:00:00,1,SA1,48,56.57,0,...,9.44,0.17,0.17,0.52,0.52,0.18,0.18,5.61,5.61,FIRM
1,D,TRADING,PRICE,2,2021/05/23 00:00:00,1,NSW1,48,45.12,0,...,9.44,0.17,0.17,0.52,0.52,0.18,0.18,5.61,5.61,FIRM
2,D,TRADING,PRICE,2,2021/05/23 00:00:00,1,QLD1,48,40.76,0,...,9.44,0.17,0.17,0.52,0.52,0.18,0.18,5.61,5.61,FIRM
3,D,TRADING,PRICE,2,2021/05/23 00:00:00,1,TAS1,48,30.01,0,...,9.44,0.17,0.17,0.52,0.52,0.18,0.18,5.61,5.61,FIRM
4,D,TRADING,PRICE,2,2021/05/23 00:00:00,1,VIC1,48,49.26,0,...,9.44,0.17,0.17,0.52,0.52,0.18,0.18,5.61,5.61,FIRM

In [51]:
# Export Pandas DataFrame to CSV - Monir
PUBLIC_TRADINGIS_df.to_csv('PUBLIC_TRADINGIS_df.csv', index=False)