In [16]:
# import necessary libraries - Monir
import pandas as pd
import os
import glob
import numpy as np

In [18]:
# assign dataset names - Monir
PUBLIC_DISPATCHSCADA_list_of_files = []

#read all dataset names with starting PUBLIC_DISPATCHSCADA - Monir
PUBLIC_DISPATCHSCADA_list_of_files = glob.glob('PUBLIC_DISPATCHSCADA*.csv')

In [19]:
# create empty list
dataframes_list = []

list_of_names = PUBLIC_DISPATCHSCADA_list_of_files

In [20]:
# append datasets into teh list
for i in range(len(list_of_names)):
    temp_df = pd.read_csv(list_of_names[i], skiprows = 1, skipfooter = 1)
    #dataframes_list[i]=temp_df
    dataframes_list.append(temp_df)

<ipython-input-20-086463d0c93a>:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  temp_df = pd.read_csv(list_of_names[i], skiprows = 1, skipfooter = 1)

In [23]:
dataframes_list[0].head()

   I  DISPATCH  UNIT_SCADA  1       SETTLEMENTDATE      DUID  SCADAVALUE
0  D  DISPATCH  UNIT_SCADA  1  2021/04/29 00:05:00   BARCSF1    0.100000
1  D  DISPATCH  UNIT_SCADA  1  2021/04/29 00:05:00  BUTLERSG   -0.000002
2  D  DISPATCH  UNIT_SCADA  1  2021/04/29 00:05:00  CAPTL_WF    0.000000
3  D  DISPATCH  UNIT_SCADA  1  2021/04/29 00:05:00  CATHROCK    0.000000
4  D  DISPATCH  UNIT_SCADA  1  2021/04/29 00:05:00  CHALLHWF    0.000000

In [24]:
dataframes_list[0].tail()

     I  DISPATCH  UNIT_SCADA  1       SETTLEMENTDATE     DUID  SCADAVALUE
369  D  DISPATCH  UNIT_SCADA  1  2021/04/29 00:05:00  YENDWF1     0.00000
370  D  DISPATCH  UNIT_SCADA  1  2021/04/29 00:05:00    YWPS1   321.05063
371  D  DISPATCH  UNIT_SCADA  1  2021/04/29 00:05:00    YWPS2   323.30634
372  D  DISPATCH  UNIT_SCADA  1  2021/04/29 00:05:00    YWPS3   391.56836
373  D  DISPATCH  UNIT_SCADA  1  2021/04/29 00:05:00    YWPS4     0.00000

In [25]:
dataframes_list[0].shape

(374, 7)

In [27]:
len(dataframes_list)

8891

In [28]:
dataframes_list[8890].tail()

     I  DISPATCH  UNIT_SCADA  1       SETTLEMENTDATE     DUID  SCADAVALUE
371  D  DISPATCH  UNIT_SCADA  1  2021/05/30 00:00:00  YENDWF1    16.54000
372  D  DISPATCH  UNIT_SCADA  1  2021/05/30 00:00:00    YWPS1   378.19495
373  D  DISPATCH  UNIT_SCADA  1  2021/05/30 00:00:00    YWPS2     0.00000
374  D  DISPATCH  UNIT_SCADA  1  2021/05/30 00:00:00    YWPS3     0.00000
375  D  DISPATCH  UNIT_SCADA  1  2021/05/30 00:00:00    YWPS4   390.15695

In [29]:
# multiple DataFrames are be merged (Concatenate pandas objects) - Monir
PUBLIC_DISPATCHSCADA_df = pd.concat(dataframes_list)

In [30]:
PUBLIC_DISPATCHSCADA_df.shape

(3326960, 7)

In [31]:
# set a specific column of DataFrame as index - Monir
PUBLIC_DISPATCHSCADA_df.set_index('DUID')

          I  DISPATCH  UNIT_SCADA  1       SETTLEMENTDATE  SCADAVALUE
DUID
BARCSF1   D  DISPATCH  UNIT_SCADA  1  2021/04/29 00:05:00    0.100000
BUTLERSG  D  DISPATCH  UNIT_SCADA  1  2021/04/29 00:05:00   -0.000002
CAPTL_WF  D  DISPATCH  UNIT_SCADA  1  2021/04/29 00:05:00    0.000000
CATHROCK  D  DISPATCH  UNIT_SCADA  1  2021/04/29 00:05:00    0.000000
CHALLHWF  D  DISPATCH  UNIT_SCADA  1  2021/04/29 00:05:00    0.000000
...      ..       ...         ... ..                  ...         ...
YENDWF1   D  DISPATCH  UNIT_SCADA  1  2021/05/30 00:00:00   16.540000
YWPS1     D  DISPATCH  UNIT_SCADA  1  2021/05/30 00:00:00  378.194950
YWPS2     D  DISPATCH  UNIT_SCADA  1  2021/05/30 00:00:00    0.000000
YWPS3     D  DISPATCH  UNIT_SCADA  1  2021/05/30 00:00:00    0.000000
YWPS4     D  DISPATCH  UNIT_SCADA  1  2021/05/30 00:00:00  390.156950

[3326960 rows x 6 columns]

In [32]:
PUBLIC_DISPATCHSCADA_df.dtypes

I                  object
DISPATCH           object
UNIT_SCADA         object
1                   int64
SETTLEMENTDATE     object
DUID               object
SCADAVALUE        float64
dtype: object

In [33]:
PUBLIC_DISPATCHSCADA_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3326960 entries, 0 to 375
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   I               object
 1   DISPATCH        object
 2   UNIT_SCADA      object
 3   1               int64
 4   SETTLEMENTDATE  object
 5   DUID            object
 6   SCADAVALUE      float64
dtypes: float64(1), int64(1), object(5)
memory usage: 203.1+ MB

In [34]:
# Export Pandas DataFrame to CSV - Monir
PUBLIC_DISPATCHSCADA_df.to_csv('PUBLIC_DISPATCHSCADA_df.csv', index=False)